<header class="header">
  <div>
    <img src="https://via.placeholder.com/50" alt="" class="header__image">
  </div>
  <div>
    <a href="">About</a>
    <a href="">Projects</a>
    <a href="">Contact</a>
    <a href="">Vita</a>
  </div>
</header>