<main class="">
  <section class="section__hallo"></section>
  <section class="section__skills">Skilla</section>
  <section class="section__about">About</section>
  <section class="section__kontakt">Kontakt</section>
  <section class="section__vita">Vita</div>

    div
</main>