<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imprint</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('components/header') %>
    <h1>Imprint Hello</h1>
    <%- include('components/footer') %>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo veniam veritatis nulla deserunt maiores eaque
        laboriosam, neque adipisci minus numquam quos vitae pariatur consequatur iure nostrum dolorem harum soluta
        provident!</p>
</body>

</html>